#main_title {
    color: "white";
}


#title {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: white;
    background:  #25548a;
}
#main_text{
     font-weight: normal;
     padding-left: 30px;
     font-size:20px;
}
#degrees{
    padding-left: 30px;
}
#images img {
    padding-left: 20px;
    padding-right: 10px;
}
/*#links a {
    padding-left: 20px;
    padding-right: 120px;
}*/

#cd {
    padding-left: 20px;
    padding-right: 120;
     color:  #144b89;
    
}

#cs {
    padding-left: 140px;
    padding-right: 120;
     color:  #144b89;
}

#online {
    padding-left: 165px;
    padding-right: 20px;
     color:  #144b89;
}
#ms{
    padding-left: 65px;
    padding-right: 100px;
     color:  #144b89;
}
#minor {
     color:  #144b89;
}