
body {
    background-image:url("../img/players/bg3.jpg");
    background-size:cover;
    color:#44b7be;
}

footer div {
    float:left;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.hand img {
    float:left;
}

.hand {
    float:none;
}

